.main_bg_color {
  background-color: rgb(200, 255, 255);
}

.top_table {
  width: 90%;
  border-spacing: 0px;
}

th, td { 
  padding: 2px;
}

/* top bar background color */
.top_table_bg_color {
  background-color: rgb(255, 255, 0);
}

/* top bar cell style */
.top_table_cell {
  vertical-align: top;
  text-align: right;
}

/* left navigation bar style */
.left_table {
  vertical-align: top;
  background-color: rgb(255, 255, 204);
  font-weight: bold;
  color: rgb(0, 127, 0);
  font-size: 22px;
}

/* Link styles in left navigation bar */
.left_table a:link {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
  
.left_table a:visited {
  color: rgb(0, 0, 255);
}

.left_table a:hover {
  text-decoration: underline;
  color: rgb(0, 127, 0);
}

.left_table a:active {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}

.second_block_left {
  vertical-align: top;
  background-color: rgb(51, 204, 255);
}

.section_separator {
  vertical-align: top;
  background-color: rgb(0, 0, 0);
}

.main_region_block {
  vertical-align: top;
  text-align: left;
  padding-left: 5px;
  width: 87%;
}

.header_color {
  color: rgb(0, 127, 0);
}

.header_size {
  font-size: 32px;
}

.secondary_heading_size {
  font-size: 20px;
}

.secondary_color {
  color: rgb(0, 0, 0);
}

.bold_text {
  font-weight: bold;
}

ul li {
  margin-top: 4px;
}

.publication_list li {
  margin-bottom: 18px;
}

ul.taing_list {
  margin-left: 0px;
  padding-left: 25px;
}

.li_small li {
  font-size: 12px;
}

.small_text {
  font-size: 12px;
}

.name_style {
  font-size: 48px;
  color: rgb(0, 0, 153);
  font-weight: bold;
}

.fd_control_button {
  background-color: lightblue;
  border: none;
  border-radius: 16px;
}

.pics_image_spacing {
  margin-bottom: 5px;
}

.fd_location_button {
  width: 100px;
  border: none;
  border-left: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-top: 2px solid #007bff;
}

.fd_location_active {
  background-color: green;
  color: white;
}

.fd_location_not_active {
  background-color: lightblue;
  color: black;
}

.fd_playpause_button {
  width: 70px;
}

.fd_prev_next_button {
  width: 75px;
}

.location_buttons {
  display: flex;
}