.main_bg_color {
    background-color: rgb(200, 255, 255);
}

.top_table {
    width: 70%;
}

.top_table_bg_color {
    background-color: rgb(255, 255, 0);
}

.top_table_cell {
    vertical-align: top;
    text-align: right;
}

.left_table {
    vertical-align: top;
    background-color: rgb(255, 255, 204);
}

.second_block_left {
    vertical-align: top;
    background-color: rgb(51, 204, 255);
}

.section_separator {
    vertical-align: top;
    background-color: rgb(0, 0, 0);
}

.main_region_block {
    vertical-align: top;
    text-align: left;
}

.header_color {
    color: rgb(0, 153, 0);
}

.header_size {
    font-size: 28px;
}

.secondary_color {
    color: rgb(0, 0, 0);
}

.bold-text {
  font-weight: bold;
}

ul li {
  margin-top: 3px;
}

.li_small li {
  font-size: 12px;
}

.small_text {
  font-size: 12px;
}

.name_style {
  font-size: 46px;
  color: rgb(0, 0, 153);
  font-weight: bold;
}