.main_bg_color {
  background-color: rgb(200, 255, 255);
}

.top_table {
  width: 90%;
  border-spacing: 0px;
}

th, td { 
  padding: 2px;
}

/* top bar background color */
.top_table_bg_color {
  background-color: rgb(255, 255, 0);
}

/* top bar cell style */
.top_table_cell {
  vertical-align: top;
  text-align: right;
}

/* left navigation bar style */
.left_table {
  vertical-align: top;
  background-color: rgb(255, 255, 204);
  font-weight: bold;
  color: rgb(0, 127, 0);
  font-size: 22px;
}

/* Link styles in left navigation bar */
.left_table a:link {
  text-decoration: none;
  color: rgb(0, 0, 255);
}
  
.left_table a:visited {
  color: rgb(0, 0, 255);
}

.left_table a:hover {
  text-decoration: underline;
  color: rgb(0, 127, 0);
}

.left_table a:active {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}

.second_block_left {
  vertical-align: top;
  background-color: rgb(51, 204, 255);
}

.section_separator {
  vertical-align: top;
  background-color: rgb(0, 0, 0);
}

.main_region_block {
  vertical-align: top;
  text-align: left;
  padding-left: 5px;
  width: 87%;
}

.header_color {
  color: rgb(0, 127, 0);
}

.header_size {
  font-size: 32px;
}

.secondary_heading_size {
  font-size: 20px;
}

.secondary_color {
  color: rgb(0, 0, 0);
}

.bold_text {
  font-weight: bold;
}

ul li {
  margin-top: 4px;
}

.publication_list li {
  margin-bottom: 18px;
}

ul.taing_list {
  margin-left: 0px;
  padding-left: 25px;
}

.li_small li {
  font-size: 12px;
}

.small_text {
  font-size: 12px;
}

.name_style {
  font-size: 48px;
  color: rgb(0, 0, 153);
  font-weight: bold;
}

.fd_control_button {
  background-color: lightblue;
  color: black;
  border: none;
  cursor: pointer;
}

.pics_image_spacing {
  margin-bottom: 5px;
}

.fd_location_button {
  color: black;
  width: 100px;
  border-bottom: 0px;
  border-left: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-top: 2px solid #007bff;
  cursor: pointer;
}

.fd_location_button:hover {
  background-color: lightgreen;
  color: black;
}


.fd_location_active {
  background-color: green;
  color: white;
  font-weight: bold;
}

.fd_location_not_active {
  background-color: lightblue;
  color: black;
}

.delivery_maps_table {
  border-spacing: 0px;
  border: none;
  margin: 0px;
  padding: 0px;
}

.del_disp_option {
  padding: 0px;
  margin: 0px;
}

table.delivery_maps_table th, 
table.delivery_maps_table td {
  padding: 0px;
  margin: 0px;
  vertical-align: top;
}

.fd_control_buttons_table {
  border-spacing: 0px;
}

table.fd_control_buttons_table th, 
table.fd_control_buttons_table td {
  padding: 0px;
}

.fd_playpause_button {
  width: 85px;
  border-radius: 0px;
  border-left: 10px solid #007bff;
  border-right: 10px solid #007bff;
}

.fd_prev_next_button {
  width: 90px;
  border-radius: 16px;
  border-left: 0px solid #007bff;
  border-right: 0px solid #007bff;
}

.fd_playpause_button:hover {
  background-color: lightgreen;
  color: black;
}

.fd_prev_next_button:hover {
  background-color: lightgreen;
  color: black;
}

.fd_playpause_button:active {
  background-color: green;
  color: white;
}

.fd_prev_next_button:active {
  background-color: green;
  color: white;
}

.location_buttons {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.control_buttons {
  display: flex;
  background-color: #007bff;
  padding-left: 1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
}

.tipsDataHeaderAmount {
  font-size: 19px;
  height: 34px;
  color: white;
  background-color: darkblue;
  border-bottom: 2px solid black;
  border-right: 1px dotted gray;
}

.tipsDataHeaderResult {
  font-size: 19px;
  height: 34px;
  color: white;
  background-color: darkblue;
  border-bottom: 2px solid black;
  padding-left: 3px;
}

.tipsDataAmount {
  height: 25px;
  background-color: white;
  border-bottom: 1px dotted gray;
  border-right: 1px dotted gray;
}

.tipsDataResult {
  height: 25px;
  background-color: white;
  border-bottom: 1px dotted gray;
  padding-left: 3px;
}

.tipsData {
  border-spacing: 0px;
  border: none;
  background-color: yellow;
  /*border-collapse: collapse;*/
}

table.tipsData th, 
table.tipsData td {
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  margin: 0px;
  vertical-align: bottom;
}

/* Hide the actual radio button */
.radio-toolbar input[type="radio"] {
  opacity: 0; /* Makes the original input invisible but still accessible/functional */
  position: fixed;
  width: 0;
}

/* Style the label as a button */
.radio-toolbar label {
  display: inline-block;
  background-color: lightblue;
  padding: 5px 5px;
  /*font-family: sans-serif;*/
  border: 2px solid #007bff;
  width: 250px;
  border-radius: 0px;
  cursor: pointer;
}

/* Change the color of the label when the associated radio input is checked */
.radio-toolbar input[type="radio"]:checked + label {
  background-color: green; /* Green background when checked */
  color: white; /* White text for contrast */
  border-top: 2px solid #007bff;
  border-right: 2px solid #007bff;
  border-left: 2px solid #007bff;
  border-bottom: 0px solid #007bff;
  font-weight: bold;
  font-size: 20px;
}

/* Add hover effects for better user experience */
.radio-toolbar label:hover {
  background-color: lightgreen;
  color: black;
}

/* Default label style */
input[type="checkbox"]:not(:checked) + label {
  color: white;
}

/* Change label color when the *adjacent* checkbox is checked */
input[type="checkbox"]:checked + label {
  color: white; /* Changes the text color to red when checked */
}

.delServicesOptions {
  background-color: green;
  color: white;
  border-right: 2px solid #007bff;
  border-left: 2px solid #007bff;
  border-bottom: 2px solid #007bff;
}
